 .page {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #239C6D;
	text-align: center;
}

.page:hover {
	color: #72a8ad;
}

.page:link {
	text-decoration: none;

}

body {

	font-family: 'Raleway', sans-serif, thin;
	font-weight: 40px;
	text-align: left;
	font-size: 25px;


}

.banner {
	/*
	background-color: #d6d6d6;
	*/
	text-align: right;
}

 .text {

	font-family: 'Raleway', sans-serif, thin;
	height: 500px;
	width: 800px;
	color: #239C6D;
	margin-left: auto;
	margin-right: auto;

}