<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mie350webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PostController</display-name>
    <servlet-name>PostController</servlet-name>
    <servlet-class>com.mie.controller.PostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostController</servlet-name>
    <url-pattern>/PostController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingController</display-name>
    <servlet-name>BookingController</servlet-name>
    <servlet-class>com.mie.controller.BookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingController</servlet-name>
    <url-pattern>/BookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapController</display-name>
    <servlet-name>MapController</servlet-name>
    <servlet-class>com.mie.controller.MapController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapController</servlet-name>
    <url-pattern>/MapController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.mie.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
</web-app>