 .page {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #b37120;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 100px;
}

.page:hover {
	color: #b37120;
}

.page:link {
	text-decoration: none;

}

body {

	font-family: 'Raleway', sans-serif, thin;
	font-weight: 40px;
	text-align: left;
	font-size: 25px;
}

.banner {
	background-color: #f5e4d0;
	text-align: center;
	font-weight: bold;
	padding-bottom: 5px;
}

 .text {
	font-family: 'Raleway', sans-serif, thin;
	color: #b37120;
	margin-left: auto;
	margin-right: auto;
	font-size: 45px;
	text-align: center;
	font-weight: bold;
}

.title {
	text-align: center;
	font-size: 45px;
	font-family: 'Raleway', sans-serif, thin;
	color: #b37120;
	font-weight: bold;
}

.button{
	text-align: center;
	background-color: #f5e4d0;
	border: none;
	color: #b37120;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

.wrapper{
	text-align: center;
	padding: 40px 40px;
}

.checkinform{
	text-align: center;
	font-family: 'Raleway', sans-serif, thin;
	color: #b37120;
	font-weight: bold;
}

.day{
	text-align: center;
	background-color: #f5e4d0;
	border: none;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	
	margin: 0px auto;
	width: 60%;
}


.daytitle{
	text-align: center;
	width: 240px;
	background-color: #b37120;
	border: none;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif, thin;
	color: white;
}

.booking{
	text-align: left;
	background-color: #d19054;
	border: none;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Raleway', sans-serif, thin;
	color: white;
}

#day1{
	overflow: scroll;
	height: 600px;
	width: 300px;
	margin: 0 auto;
}

#day2{
	overflow: scroll;
	height: 600px;
	width: 300px;
	margin: 0 auto;
}

#day3{
	overflow: scroll;
	height: 600px;
	width: 300px;
	margin: 0 auto;
}

#content{
	position: relative;
}

#content img{
	position: absolute;
	top: 0px;
	left:0px;
}

.post{
	height:180px;
	width: 300px;
	background-color: #b37120;
	text-align: center;
}

.title2{
	background-color: #d19054;
}

.center{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 18%;
}
.court{
	height:180px;
	width: 300px;
	background-color: #b37120;
	text-align: center;
	margin-left: 800px;

}


.newcourtform{
	text-align: center;
	font-family: 'Raleway', sans-serif, thin;
	color: #b37120;
}